<!DOCTYPE html>
<html>
<head>
  <title>Wedding App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "wedding_app" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div data-yield="main"></div>

<script type="text/javascript">
  WeddingApp.run();
</script>

</body>
</html>
